/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  .container {
    margin-top: 6px;
  }
  span {
    font-size: 14px;
  }
}

