<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= app_title %></title>

    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
<style>
</style>
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">gulp webapp</h3>
    </div>

    <div class="jumbotron">
      <div id="app"></div>
      <p class="lead">Always a pleasure scaffolding your apps.</p>
      <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
    </div>

    <div class="footer">
      <p>♥ from the Yeoman team</p>
    </div>
  </div>

  <!-- build:js scripts/lib.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/react/<%= react %>.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app,public}) scripts/main.js -->
  <script type="text/javascript" src="scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>
