<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}webapp-allspark{% endblock %}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/global.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "../shared/navbar.html" %}
  <div class="container">
    <div id="alert"></div>
    {% block content %}{% endblock %}
  </div>
  {% include "../shared/footer.html" %}
  <script src="assets/javascripts/shared.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
